@*@{
    Layout = null;
}*@

@{
    ViewBag.Title = "Autobiography";
}


    <style type="text/css">
        /*Author: Kosmom.ru*/ .loading, .loading > td, .loading > th, .nav li.loading.active > a, .pagination li.loading, .pagination > li.active.loading > a, .pager > li.loading > a {
            background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
            background-size: 40px 40px;
            animation: 2s linear 0s normal none infinite progress-bar-stripes;
            -webkit-animation: progress-bar-stripes 2s linear infinite;
        }

        .btn.btn-default.loading, input[type="text"].loading, select.loading, textarea.loading, .well.loading, .list-group-item.loading, .pagination > li.active.loading > a, .pager > li.loading > a {
            background-image: linear-gradient(45deg, rgba(235, 235, 235, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(235, 235, 235, 0.15) 50%, rgba(235, 235, 235, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
        }
        .head_blue {
            border:1px solid #000000;
            height:30px;
            text-align:center;
            font-size:24px;
            font-weight:bold;
            color:white;
            background-color:#200090;
        }
    </style>


    <br/>

    @*From http://bootsnipp.com/snippets/featured/animation-loading-state*@
    <a href="/DownloadPDF/CreatePDF?files=autobiography" class="btn btn-warning loading">Download PDF</a>

    <table style='width:100%;'>
        <tr>
            <td style='text-align:center; height:80px;' class="testmode"><h1>自傳</h1></td>
        </tr>
        <tr>
            <td style='vertical-align:top; font-size:20px;' class="testmode">
                <table style='border:1px solid #000000; width:100%;' cellpadding='0' cellspacing='0'>
                    <tr>
                        <td class="head_blue">成長背景</td>
                    </tr>
                    <tr>
                        <td style='border:1px solid #000000; width:30%; text-align:left; padding-left:15px;'>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我叫張益誠出生自高雄，父母從小便用較嚴格的方式教育我，像是沒做完功課不能看電視和凡事都要自己動手做，不要過度依賴別人等，培養我負責任的個性和今日事今日畢的態度。目前在南港區承租一間套房希望能在台北就業，我平日的興趣是聽音樂和看電影，假日時則喜歡邀請朋友一起騎單車來個輕旅行，一方面可以增強體力，另外也可紓解工作日累積的壓力，適當的休息讓我可以繼續面對接下來的挑戰。<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我的人格特質較樂觀不會因為遇到點挫折就止足不前，喜歡幫助別人及溫和的個性讓我與前公司的主管及伙伴都相處得不錯，對任何事物都充滿好奇心的我，看到有趣或是厲害的技術都會想親自嘗試並學習起來，成為自己口袋裡的工具。
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style='vertical-align:top; font-size:20px;' class="testmode">
                <table style='border:1px solid #000000; width:100%;' cellpadding='0' cellspacing='0'>
                    <tr>
                        <td class="head_blue">求學階段</td>
                    </tr>
                    <tr>
                        <td style='border:1px solid #000000; width:30%; text-align:left; padding-left:15px;'>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;就讀靜宜大學這段期間，我主修資訊工程學系，在學期間除了鑽研學業，還參加了系上的桌球隊，沒課的時候就和三五好友打打桌球，除培養運動習慣增強體力外也鍛練了對每件事情的專注力和反應力；另外一方面也積極在思索畢業專題的題目，後來找到硬體學程的指導教授建議我們如果想做出實體的成果，可以試試看單晶片配合軟體設計來控制LED、伺服機等，自己研究過後越做越有興趣，因此我們就決定自製一個「手機控制四足機器人」做為專題題目，經過一番努力後我們團隊也做出成果，並且得到校內專題競賽銀牌獎的肯定，在做專題時學到的不僅是學科上的東西，還提升了我解決問題、團隊合作以及溝通技巧等各項能力。
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style='vertical-align:top; font-size:20px;' class="testmode">
                <table style='border:1px solid #000000; width:100%;' cellpadding='0' cellspacing='0'>
                    <tr>
                        <td class="head_blue">就業階段</td>
                    </tr>
                    <tr>
                        <td style='border:1px solid #000000; width:30%; text-align:left; padding-left:15px;'>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大學畢業接著當了一年兵後順利退伍進入職場。第一份工作在高雄的研通科技股份有限公司，職位是工程師服務時間兩年，主要工作為消費型電子產品的軟體設計，服務期間完成了數個展示用的產品code，及兩個較大的案子，一個是 Hasbro的戶外遊戲用攝影機，一個是 DOD的 LS400W雙錄型行車紀錄器，這些成果雖然看起來跟網頁設計沒什麼關聯，不過我從中學到更多的是編寫程式時的良好習慣、解決問題的能力及專案實作的經驗，我相信這些經驗在未來的工作上也一定會有很大的影響力。
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style='vertical-align:top; font-size:20px;' class="testmode">
                <table style='border:1px solid #000000; width:100%;' cellpadding='0' cellspacing='0'>
                    <tr>
                        <td class="head_blue">未來規劃</td>
                    </tr>
                    <tr>
                        <td style='border:1px solid #000000; width:30%; text-align:left; padding-left:15px;'>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在工作上，我會盡量用最短的時間熟悉開發平台和工作內容、適應新的工作環境，提高自己的產能。工作之餘每天花點時間看英文影片並背下裏面的單字，增加自己的英文能力。也不會忘記每天出去跑跑步或騎騎單車，增強體力以應付未來的挑戰。
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
